body {
    font-family: "Raleway", Arial, sans-serif;
}

.w3-row img {
    margin-bottom: -8px;
}

a{
    text-decoration: none;
}
#header{
    background-color: lightgreen;
    font-size: 2em;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
}

button{
    background-color: orangered;
}

#rights{
    text-align: center;
}