body {
    font-family: "Raleway", Arial, sans-serif;
}

img{
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    text-decoration: none;
}
.header{
    background-color: lightgreen;
    font-size: 2em;
    text-align: center;
    padding-bottom: 450px;
}

.login{
    text-align: center;
}

#rights{
    text-align: center;
}

.spacer{
    padding-bottom: 39px;
}

.pushspace{
    padding-top: 30px;
}